In [1]:
#TOPIC: String Based Assignment Problem

In [217]:
#1. Write a program to reverse a string.
#ans:
l1=input("enter your string")
k=l1[::-1] # reversing a string

print("to reverse string is : {},  the reversed stringis  : {}".format(l1,k))

enter your string pw skills

to reverse string is : pw skills,  the reversed stringis  : slliks wp

In [218]:
#2. Check if a string is a palindrome.
# ans. here the palindrome word is 'string'
s=input(" enter a string : ")
k=s[::--1]
print("reversed string :",k)
def ispalindrome(s):
    return s==s[::-1]
if ispalindrome(s):
    print("your entered string is palindrome")
else:
    print("your entered string is not a palindrome")

 enter a string :  malayalam

reversed string : malayalam
your entered string is palindrome

In [219]:
#3. Convert a string to uppercase.
#ans.
a=input("enter a string")
l=a.upper()
print(l)

enter a string alipeer

ALIPEER

In [220]:
#4. Convert a string to lowercase.
a=input("enter a string :")
a.lower()

enter a string : PWSKILLS

'pwskills'

In [221]:
#5. Count the number of vowels in a string.
#ans.
# Program: Count number of vowels in a String in Python

string = input("enter your string")
string.lower()

# list comprehension
count = len([char for char in string if char in "aeiou"])

print("Number of vowels: ", count   )

enter your string pwskills

Number of vowels:  1

In [222]:
#6. Count the number of consonants in a string.
#ans.  consonants
string = "befor i use to love someone"
string.lower()

# list comprehension
count = len([char for char in string if char in "bcdfghjklmnpqrstvwxyz"])

print("Number of vowels: ", count )

Number of vowels:  10

In [223]:
#7. Remove all whitespaces from a string
#ans.
d="        My Name is ALIPEER     "
d.replace(" ","")

'MyNameisALIPEER'

In [225]:
#8. Find the length of a string without using the `len()` function.
#ans.
string=input()
count=0
for char in string:
      count=count+1
print("Length of a string is:")
print(count)

 alipeer

Length of a string is:
7

In [226]:
#9. Check if a string contains a specific word.
#ans.
fullstring = "my name is alipeer and i am from hyderabad"
substring = "hyderabad"

if substring in fullstring:
    print("Found! ",substring)
else:
    print("Not found!")

Found!  hyderabad

In [227]:
string = "The quick brown fox jumps over the lazy dog"
if string.find("fox") != -1:
     print("The string contains 'fox'")
else:
     print("The string does not contain 'fox'")

The string contains 'fox'

In [228]:
#10. Replace a word in a string with another word
string="powerful"
string.replace("powerful","stronger")

'stronger'

In [229]:
#11. Count the occurrences of a word in a string.
#ans.
def count_word_occurrences(input_string, target_word):
    # Step 1: Initialize a variable to keep track of the word count
    word_count = 0

    # Step 2: Split the input string into a list of words
    words = input_string.split()

    # Step 3: Iterate through each word in the list
    for word in words:
        # Step 4: Check if the current word matches the target word
        if word == target_word:
            # Step 5: Increment the word count if the words match
            word_count += 1

    # Step 6: Return the final word count
    return word_count

# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample' multiple times."

# Target word to count
target_word = "sample"

# Call the function and print the result
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'sample' appears 1 times in the input string.

In [230]:
#12. Find the first occurrence of a word in a string.
#ans.
s="my name is ali but ali is nick name"
s.find('ali') #it will show the first occurance of word

11

In [231]:
#13. Find the last occurrence of a word in a string.
#ans.
def find_last_occurrence(text, word):
    # Step 1: Find the index of the last occurrence of the word in the text.
    index = text.rfind(word)

    # Step 2: Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Step 3: Return the index of the last occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence also contains the word example."
word = "example"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 66

In [232]:
#14. Split a string into a list of words
#ans.
l="my name is khan peer khan"
print(l.split())

['my', 'name', 'is', 'khan', 'peer', 'khan']

In [233]:
#15. Join a list of words into a string.
#ans.
p=['flower','is','so', 'beautiful']
' '.join(p)

'flower is so beautiful'

In [234]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
#ans.
mystring="my name is ali and i am from hyderabad"
mystring.replace(' ','_')

'my_name_is_ali_and_i_am_from_hyderabad'

In [235]:
l1="how are you darling by the way"
l2=l1.split() # first split 
l2
'_'.join(l2) # next join using '_'.split()

'how_are_you_darling_by_the_way'

In [236]:
#17. Check if a string starts with a specific word or phrase.
#ans.
def starts_with(text, prefix):
    # Step 1: Use the startswith() method to check if the text starts with the specified prefix.
    is_start = text.startswith(prefix)

    # Step 2: Return the result of the check.
    return is_start

# Example usage
text = "Hello, world!"
prefix = "Hello"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

In [237]:
#18. Check if a string ends with a specific word or phrase.
def ends_with(text, suffix):
    # Step 1: Use the endswith() method to check if the text ends with the specified suffix.
    is_end = text.endswith(suffix)

    # Step 2: Return the result of the check.
    return is_end

# Example usage
text = "Hello, world!"
suffix = "world!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text ends with the suffix.

In [238]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World")
#ans.
k="hello world"
k.title()

'Hello World'

In [239]:
#20. Find the longest word in a string.
#ans.
def find_longest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the longest word and its length.
    longest_word = ""
    max_length = 0

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is greater than the current max_length.
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    # Step 4: Return the longest word.
    return longest_word

# Example usage
text = "This is an example sentence with some long words."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: sentence

In [240]:
#21. Find the shortest word in a string.
#ans.
def find_shortest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the shortest word and its length.
    shortest_word = None
    min_length = float('inf')  # Initialize to a large value

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is smaller than the current min_length.
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    # Step 4: Return the shortest word.
    return shortest_word

# Example usage
text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

In [241]:
#22. Reverse the order of words in a string.
#ans:
# To reverse words in a given string
 
# input string
string = "my name is ali"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
    # appending reversed words to l
    l.append(i)
# printing reverse words
print(" ".join(l))

ali is name my

In [242]:
#23. Check if a string is alphanumeric.
#ans:
str2 = "ali123"
print("Checking whether",str2,"is alphanumeric")
print(str2.isalnum())

Checking whether ali123 is alphanumeric
True

In [244]:
#24. Extract all digits from a string.
#ans:
text=input("enter your string : ")
digits=""
for char in text:
    if char.isdigit():
        digits+=char
print(digits)

enter your string :  ali123

123

In [245]:
#25. Extract all alphabets from a string.
#ans:
text=input("enter your string :")
alphabets=""
for char in text:
    if char.isalpha():
        alphabets+=char
print(alphabets)

enter your string : ali123

ali

In [246]:
#26. Count the number of uppercase letters in a string.
#ans:
string="ALIpeer"
count=0
for char in string:
    if char.isupper():
        count+=1
print(count)

3

In [247]:
#27. Count the number of lowercase letters in a string.
#ans:
string="ALIpeer"
count=0
for char in string:
    if char.islower():
        count+=1
print(count)

4

In [248]:
#28. Swap the case of each character in a string.
#ans:

def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

# Example input string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

In [249]:
#29. Remove a specific word from a string.
#ans:
a1 = "my name alipeer khan"
a2 = a1.removesuffix('khan') 
print(a2)

my name alipeer

In [250]:
#30. Check if a string is a valid email address.
#ans:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [251]:
#31. Extract the username from an email address string.
#ans:
email="alipeer860@gmail.com"
username=email.split('860')[0]
print(username)

alipeer

In [252]:
# 32. Extract the domain name from an email address string.
#ans:
email="alipeer860@gmail.com"
username=email.split('@')[1]
print(username)

gmail.com

In [253]:
#33. Replace multiple spaces in a string with a single space.
#ans:
string=" my    name  is             Alipeer        "
cleaned_string=' '.join(string.split())
print(cleaned_string)

my name is Alipeer

In [254]:
#34. Check if a string is a valid URL.
#ans
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [255]:
#35. Extract the protocol (http or https) from a URL string.
#ans:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [256]:
#36. Find the frequency of each character in a string.
#ans:
# initializing string
test_str = "alipeer"
 
# using naive method to get count
# of each element in string
all_freq = {}
 
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
 
# printing result
print("Count of all characters in GeeksforGeeks is :\n "
      + str(all_freq))

Count of all characters in GeeksforGeeks is :
 {'a': 1, 'l': 1, 'i': 1, 'p': 1, 'e': 2, 'r': 1}

In [257]:
#37.Remove all punctuation from a string.
#ans:
# initializing string
test_str = "alipeer 'P;"
 
# printing original string
print("The original string is : " + test_str)
 
# initializing punctuations string
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
# Removing punctuations in string
# Using loop + punctuation string
for ele in test_str:
    if ele in punc:
        test_str = test_str.replace(ele, "")
 
# printing result
print("The string after punctuation filter : " + test_str)

The original string is : alipeer 'P;
The string after punctuation filter : alipeer P

In [258]:
#38. Check if a string contains only digits.
#ans:
string="123"
string.isdigit()

True

In [259]:
#39. Check if a string contains only alphabets.
#ans:
string="ali"
string.isalpha()

True

In [260]:
#40. Convert a string to a list of characters.
#ans:
k="alipeer,9398470562"
print(list(k))

['a', 'l', 'i', 'p', 'e', 'e', 'r', ',', '9', '3', '9', '8', '4', '7', '0', '5', '6', '2']

In [261]:
#41. Check if two strings are anagrams.
#ans:
def check(s1, s2):
     
    # the sorted strings are checked
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")        
         
# driver code 
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

In [262]:
#42. Encode a string using a Caesar cipher
#ans:
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [263]:
#43. Decode a Caesar cipher encoded string.
#ans:
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [264]:
#44. Find the most frequent word in a string.
#ans:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word


# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [265]:
#45. Find all unique words in a string.
#ans:
def printWords(l):
     
    # for loop for iterating
    for i in l:
        print(i)
 
 
# Driver code
str = "ali is handsome"
 
# storing string in the form of list of words
s = set(str.split(" "))
 
# passing list to print words function
printWords(s)

is
ali
handsome

In [266]:
#46. Count the number of syllables in a string.
#ans:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [267]:
#47. Check if a string contains any special characters.
#ans:
import re
 
# Function checks if the string
# contains any special character
def run(string):
 
    # Make own character set and pass
    # this as argument in compile method
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
     
    # Pass the string in search
    # method of regex object.   
    if(regex.search(string) == None):
        print("String is accepted")
         
    else:
        print("String is not accepted.")
     
 
# Driver Code
if __name__ == '__main__' :
     
    # Enter the string
    string = "alipeer860@gmail.com"
     
    # calling run function
    run(string)

String is not accepted.

In [268]:
#48. Remove the nth word from a string.
#ans:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [275]:
#49. Insert a word at the nth position in a string.
#ans:
# initializing string
test_string = 'alipeer'
 
# initializing add_string
add_string = "P"
 
# printing original string
print("The original string : " + test_string)
 
# printing add string
print("The add string : " + add_string)
 
# initializing N
N = 5
 
# using string concatenation
# Add substring at specific index
res = test_string[:N]+ test_string[N:] +  add_string 
     
# print result
print("The string after performing addition : " ,res)

The original string : alipeer
The add string : P
The string after performing addition :  alipeerP

In [276]:
#50. Convert a CSV string to a list of lists.
#ans:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [277]:
###List based practice problem :

In [278]:
#1. Create a list with integers from 1 to 10.
#ans:
l=list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [279]:
#2. Find the length of a list without using the len() function.
#ans:
l=[1,2,3,4,5]
k=0
for x in l:
    k+=1
print("list length is",k)

list length is 5

In [280]:
#3. Append an element to the end of a list.
#ans:
l=[1,23,4,5,6,7]
l.append('ali')
l

[1, 23, 4, 5, 6, 7, 'ali']

In [281]:
#4. Insert an element at a specific index in a list.
#ans:
l=[1,2,3,4,5,6]
l[2]="ali" # inserting element at specific index '2'
l

[1, 2, 'ali', 4, 5, 6]

In [282]:
#5. Remove an element from a list by its value.
#ans:
l=['alipeer',9398470562,"M.sc(stats)",'year2023' ,70.26]
l.remove(70.26) # removing 70.26
l

['alipeer', 9398470562, 'M.sc(stats)', 'year2023']

In [283]:
#7. Check if an element exists in a list.
#ans:
lst=[1,2,3,4,"ali"]
#checking if element 4 present 
#in the given list
i=4
if i in lst:
    print("exist")
else:
    print('not exist')

exist

In [287]:
#8. Find the index of the first occurrence of an element in a list.
#ans:
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

In [288]:
#9. Count the occurrences of an element in a list.
#ans:
l=[1,2,3,4,5,6,2,4,8,9,1,"ali","ali",9]
k=l.count('ali') # occurance of an element
print(k)

2

In [289]:
#10. Reverse the order of elements in a list.
#ans:
l=["ali",23.56,"year:2023"]
k=l.reverse()
print(l)

['year:2023', 23.56, 'ali']

In [290]:
#11. Sort a list in ascending order
#ans:
l=[1,8,4,5,6,9,7,3,2,0]
l.sort()
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [291]:
#12. Sort a list in descending order.
#ans:
l=[1,8,4,5,6,9,7,3,2,0]
l.sort(reverse=-1)
print(l)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [292]:
#13. Create a list of even numbers from 1 to 20.
#ans:
lst=list(range(0,21,2))
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [293]:
#14. Create a list of odd numbers from 1 to 20
#ans:
lst=list(range(1,21,2))
print(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [294]:
#15. Find the sum of all elements in a list.
#ans:
lst=[1,2,3,4,5,6,7,8,9,10]
sum=sum(lst)
print(sum)

55

In [295]:
#16. Find the maximum value in a list.
#ans:
lst=[1,2,3,4,5,6,7,8,9,10]
k=max(lst)
print(k)

10

In [296]:
#17. Find the minimum value in a list.
#ans:
lst=[1,2,3,4,5,6,7,8,9,10]
k=min(lst)
print(k)

1

In [297]:
#18. Create a list of squares of numbers from 1 to 10
#ans:
old=list(range(1,11))

new = [n**2 for n in old]
print(new)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [298]:
#19. Create a list of random numbers.
#ans:
import random
rand_int=[random.randint(1,100) for _ in range(20)]
print("the random nos are",rand_int)

the random nos are [88, 36, 91, 85, 13, 28, 39, 94, 9, 69, 91, 35, 48, 45, 78, 77, 46, 75, 83, 40]

In [299]:
#20. Remove duplicates from a list.
#ans:
l=[1,2,3,4,5,6,7,8,9,9,2,4,5,6,7]
duplicates=set(l)
print(duplicates)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [300]:
#21. Find the common elements between two lists.
#ans:
l1=[1,2,3,4,5,6]
l2=[6,7,8,9,10,11]
intersection=list(set(l1).intersection(l2))
print("the common elements are ",intersection)

the common elements are  [6]

In [301]:
#22. Find the difference between two lists.
#ans:
l1=[1,2,3,4,5,6,7,8]
l2=[6,7,8,9,10,11,8,9]
difference=list(set(l1).difference(l2))
print("the difference elements are ",difference)

the difference elements are  [1, 2, 3, 4, 5]

In [302]:
#23. Merge two lists.
#ans:
l1=[1,2,3,4,5,6,7,8]
l2=[6,7,8,9,10,11,8,9]
merge=l1+l2
print("merge of two list",merge)

merge of two list [1, 2, 3, 4, 5, 6, 7, 8, 6, 7, 8, 9, 10, 11, 8, 9]

In [303]:
#24. Multiply all elements in a list by 2.
#ans:
l1=[1,2,3,4,5,6,7,8]
multi=[i*2 for i in l1]
print("multiple of  list :  ",multi)

multiple of  list :   [2, 4, 6, 8, 10, 12, 14, 16]

In [304]:
#25. Filter out all even numbers from a list
#ans:
a = [2, 5, 7, 8, 10, 13, 16]
result = filter(lambda x: x % 2 == 0, a)
print('Original List :', a)
print('Filtered List :', list(result))

Original List : [2, 5, 7, 8, 10, 13, 16]
Filtered List : [2, 8, 10, 16]

In [305]:
#26. Convert a list of strings to a list of integers.
#ans:
list1=["1","2","3","4","5","6","7","8","9"]
integer_list=[int(x) for x in list1]
print("list of integers:",integer_list)

list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
#27. Convert a list of integers to a list of strings.
#ans:
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [318]:
#28. Flatten a nested list.
#ans:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [319]:
#29. Create a list of the first 10 Fibonacci numbers.
#ans:
def test_fib(n):
    a,b=0,1
    for i in list(range(n)):
        yield a
        a,b=b,a+b
n=10
res=test_fib(n)
fib_l=list(res)
print("the first 10 fibonacci sequence is:",fib_l)

the first 10 fibonacci sequence is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [320]:
#30 check if a list is sorted
#ans:
def check_list_sorted(l_s_t):
    for i in l_s_t:
        if l_s_t[i]<l_s_t[i-1]:
            return False
    return True
l_s_t=[3,6,2,4,6,3,5,3,8]
if check_list_sorted(l_s_t):
    print("the list is sorted")
else:
    print("the list is not sorted")

the list is not sorted

In [321]:
#31. Rotate a list to the left by n positions.
#ans:
def rotate_left(m_l,n):
    n=n%len(m_l)
    rotated=m_l[n:]+m_l[:n]
    return rotated
m_l=[11,12,13,14,15,16]
n=2
rotated_list=rotate_left(m_l,n)
print("rotated list:",rotated_list)

rotated list: [13, 14, 15, 16, 11, 12]

In [322]:
#32. Rotate a list to the right by n positions
#ans:
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [323]:
#33. Create a list of prime numbers up to 50.
#ans:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

# Print the list of prime numbers
print(prime_numbers)


#35.Split a list into chunks of size n.
def chunk_list(input_list, n):
    for i in range(0, len(input_list), n):
        yield input_list[i:i + n]

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

# Use the generator function to split the list into chunks
chunked_lists = list(chunk_list(original_list, chunk_size))

# Print the chunked lists
for chunk in chunked_lists:
    print(chunk)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[10]

In [324]:
#35. Find the second largest number in a list.
m_l=[10,5,20,32,12,43]
s_l=sorted(set(m_l))
if len(s_l)>=2:
    second_largest=s_l[-2]
    print("second largest number",second_largest)
else:
    print("the list does not contain enough elements.")

second largest number 32

In [325]:
#36. Replace every element in a list with its square.
#ans:
m_l=[2,4,6,8,10]
sq_l=[i**2 for i in m_l]
print("squared list:",sq_l)

squared list: [4, 16, 36, 64, 100]

In [326]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values
#ans:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [327]:
#38. Shuffle the elements of a list randomly.
#ans:
import random
my_list=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(my_list)
print("shuffled list:",my_list)

shuffled list: [8, 2, 4, 5, 10, 3, 1, 6, 7, 9]

In [328]:
#39.Create a list of the first 10 factorial numbers
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
factorial_numbers=[factorial(i) for i in range(10)]
print("the list of 1st 10 factorial nos is",factorial_numbers)

the list of 1st 10 factorial nos is [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [329]:
#40. Check if two lists have at least one element in common.
def has_common_elements(list1,list2):
    for item in list1:
        if item in list2:
            return True
        return False
list1=[2,3,42,3]
list2=[2,3,32,4]
if has_common_elements(list1,list2):
    print("the list have atleast one common element")
else:
    print("the list donot have any common element")

the list have atleast one common element

In [330]:
#41. Remove all elements from a list.
a=[1,2,3,4,5]
a.clear()
print("the list is empty",a)

the list is empty []

In [331]:
#42. Replace negative numbers in a list with 0
l_t=[1,2,3,-1,-2,-3,-6]
for i in range(len(l_t)):
    if l_t[i]<0:
        l_t[i]=0
print("list after replacing negative numbers with 0:",l_t)

list after replacing negative numbers with 0: [1, 2, 3, 0, 0, 0, 0]

In [332]:
#44. Convert a list of words into a string.
_w_lst=['come', 'lets', 'join', 'hands']
_st_r=" ".join(_w_lst)
print("the string form of words is",_st_r)

the string form of words is come lets join hands

In [333]:
#45. Create a list of the first n powers of 2
n=5
p_l=[2**i for i in range(n)]
print("list of the first",n,'power of 2:',p_l)

list of the first 5 power of 2: [1, 2, 4, 8, 16]

In [334]:
#46Find the longest string in a list of strings
l_s=['today','is','sunday','brother']
lo_s=""
for s in l_s:
    if len(s)>len(lo_s):
        lo_s=s
print("longest string:",lo_s)

longest string: brother

In [335]:
#47. Find the shortest string in a list of strings.
k_s=['today','is','sunday','brother']
k_s.sort()
lk_s=k_s[0]
for s in k_s:
    if len(s)<len(lk_s):
        lk_s=s
print("longest string:",lk_s)

longest string: is

In [336]:
#48. Create a list of the first n triangular numbers.
def triangular_numbers(n):
    return [i*(i+1)//2 for i in range(1,n+1)]
n=5
_t_l=triangular_numbers(n)
print("list of the first",n,'triangular numbers:',_t_l)

list of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [337]:
#49. Check if a list contains another list as a subsequence
def is_subsequence(sub, main):
    # Initialize indices for both lists
    sub_index = 0
    main_index = 0

    # Iterate through the main list
    while main_index < len(main) and sub_index < len(sub):
        # If the current elements match, move to the next element in the subsequence
        if sub[sub_index] == main[main_index]:
            sub_index += 1
        # Move to the next element in the main list
        main_index += 1

    # If we reached the end of the subsequence, it's a subsequence of the main list
    return sub_index == len(sub)

# Example usage:
main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [1,6,7]

if is_subsequence(sub_list, main_list):
    print(f"{sub_list} is a subsequence of {main_list}.")
else:
    print(f"{sub_list} is not a subsequence of {main_list}.")

[1, 6, 7] is a subsequence of [1, 2, 3, 4, 5, 6, 7].

In [338]:
#50. Swap two elements in a list by their indices
l_1=[1,2,3,4,5]
index1=1
index2=3
temp=l_1[index1]
l_1[index1]=l_1[index2]
l_1[index2]=temp
print("list after swapping elements:",l_1)

list after swapping elements: [1, 4, 3, 2, 5]

In [339]:
###Tuple based practice problem :

In [340]:
#1. Create a tuple with integers from 1 to 5.
#ans:
tuple(range(1,6))

(1, 2, 3, 4, 5)

In [341]:
#2. Access the third element of a tuple.
#ans:
t=(1,2,3,4,5,6,7,8,9,10)
#to access the third element
t[2]

3

In [342]:
#3. Find the length of a tuple without using the len() function.
#ans:
length=('d',1,2,3,4,5)
count=0
for i in length:
    count+=1
print("the length of tuple :",count)

the length of tuple : 6

In [343]:
#4. Count the occurrences of an element in a tuple.
#ans:
t=(1,2,3,'ali',4,5,'ali',3,2,4,8,9,5,1,2,4)
k=t.count(2)
print("the occurance of a element 2 is : ",k)

the occurance of a element 2 is :  3

In [344]:
#5. Find the index of the first occurrence of an element in a tuple.
#ans:
t=(1,2,3,'ali',4,5,'ali',3,2,4,8,9,5,1,2,4)
element_to_find=2
index=-1
for i,item in enumerate(t):
    if item == element_to_find:
        index=i
        break
if index!=-1:
    print(f"the first occurance of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

the first occurance of 2 is at index 1.

In [345]:
#6. Check if an element exists in a tuple.
#ans:
t=(1,2,3,4,5,'ali')
sub_tuple=2
if sub_tuple in t:
    print("the element {} exist".format(sub_tuple))
else:
    print("the element {} doesn't exist".format(sub_tuple))

the element 2 exist

In [346]:
#7. Convert a tuple to a list.
#ans:
t=(1,2,3,4,5,'ali')
k=list(t)
print("tuple :",t)
print("list :" ,k)

tuple : (1, 2, 3, 4, 5, 'ali')
list : [1, 2, 3, 4, 5, 'ali']

In [347]:
#8. Convert a list to a tuple.
#ans:
t=[1,2,3,4,5,'ali']
k=tuple(t)
print("list :",t)
print("tuple :" ,k)

list : [1, 2, 3, 4, 5, 'ali']
tuple : (1, 2, 3, 4, 5, 'ali')

In [348]:
#9. Unpack the elements of a tuple into variables.
#ans:
t=(1,2,3,4)
#unpacking the elements in tuple 't'
var1, var2, var3,var4 =t
print('var1 :',var1)
print('var2 :',var2)
print('var3 :',var3)
print('var4 :',var4)

var1 : 1
var2 : 2
var3 : 3
var4 : 4

In [349]:
#10. Create a tuple of even numbers from 1 to 10.
t=tuple(range(2,11,2)) # even no tuple
t

(2, 4, 6, 8, 10)

In [350]:
#12. Concatenate two tuples.
#ans:
t=(1,2,3,4)
t1=(1,2,3,4,5,'ali')
k=t+t1
print("the contenate of two tuples :",k)

the contenate of two tuples : (1, 2, 3, 4, 1, 2, 3, 4, 5, 'ali')

In [351]:
#13. Repeat a tuple three times.
#ans:
t1=(1,2,3,4,5,'ali')
t1*3 # reapeating a tuple three times

(1, 2, 3, 4, 5, 'ali', 1, 2, 3, 4, 5, 'ali', 1, 2, 3, 4, 5, 'ali')

In [352]:
#14. Check if a tuple is empty.
#ans:
t=()
t1=(1,2,3,4,5,'ali')
if not t:
    print("thet t is empty")
else:
    print("the t is not empty")
    
    
if not t1:
    print("the t1 is empty")
else:
    print("the t1 is not empty")

thet t is empty
the t1 is not empty

In [353]:
#15. Create a nested tuple.
#ans:
nested_tuple=((1,2,3,4),('a','b','c'),(True,False))
print("nested tuple:",nested_tuple)

nested tuple: ((1, 2, 3, 4), ('a', 'b', 'c'), (True, False))

In [354]:
#16. Access the first element of a nested tuple.
#ans:
nested_tuple=((1,2,3,4),('a','b','c'),(True,False))
nested_tuple[0]

(1, 2, 3, 4)

In [355]:
#17. Create a tuple with a single element.
#ans:
t=(1,)
print(t,type(t))

(1,) <class 'tuple'>

In [356]:
#18. Compare two tuples.
#ans:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [358]:
#19. Delete a tuple.
#ans:
t=(1,2,3)
del t # tuple is deleted
print(t)

NameError: name 't' is not defined

In [359]:
#20. Slice a tuple.
#ans:
tuple1=(1,2,3,4,5,'ali')
sliced_tuple=t1[1:3] # sliced tuple
print("sliced tuple :",sliced_tuple)

sliced tuple : (2, 3)

In [360]:
#21. Find the maximum value in a tuple.
#ans:
tuple1=(1,2,3,4,5,10)
max(tuple1)

10

In [361]:
#22. Find the minimum value in a tuple.
#ans:
tuple1=(1,2,3,4,5,10)
min(tuple1)

1

In [362]:
#23. Convert a string to a tuple of characters.
#ans:
string="alipeer"
tuple(string)

('a', 'l', 'i', 'p', 'e', 'e', 'r')

In [2]:
#24. Convert a tuple of characters to a string.
#ans:
tuple1=('a', 'l', 'i', 'p', 'e', 'e', 'r')
string_from_tuple=''.join(tuple1)
str(string_from_tuple)

'alipeer'

In [367]:
#25. Create a tuple from multiple data types.
#ans:
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [368]:
#26. Check if two tuples are identical.
#ans:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [369]:
#27. Sort the elements of a tuple.
#ans:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [3]:
#28. Convert a tuple of integers to a tuple of strings.
#ans:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

In [373]:
#29. Convert a tuple of strings to a tuple of integers.
#ans:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_integers)

Tuple of strings: (1, 2, 3, 4, 5)

In [374]:
#30. Merge two tuples.
#ans:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [375]:
#31. Flatten a nested tuple.
#ans:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [376]:
#32. Create a tuple of the first 5 prime numbers.
#ans:
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5)+1):
        if num % i==0:
            return False
    return True
prime_numbers_list=[num for num in range(2,100) if is_prime(num)][:5]
prime_numbers_tuple=tuple(prime_numbers_list)
print("tuple of the first 5 prime numbers:",prime_numbers_tuple)

tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [377]:
#33. Check if a tuple is a palindrome.
#ans:
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [378]:
#34. Create a tuple of squares of numbers from 1 to 5.
#ans:
t=tuple(x**2 for x in range(1,5))
t

(1, 4, 9, 16)

In [379]:
#35. Filter out all even numbers from a tuple.
#ans:
t=tuple(range(1,11))
t[::2]

(1, 3, 5, 7, 9)

In [380]:
#36. Multiply all elements in a tuple by 2.
t=tuple(x*2 for x in range(1,6)) # Multiply all elements by 2 using a list comprehension and convert to a tuple
t

(2, 4, 6, 8, 10)

In [381]:
#37. Create a tuple of random numbers.
#ans:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (12, 74, 4, 39, 43, 53, 51, 17, 32, 46)

In [4]:
#38. Check if a tuple is sorted.
#ans:
test_tuple = [10, 4, 5, 8, 10]
 
# printing original list
print ("Original tuple : " + str(test_tuple))
 
# using sort() to
# check sorted list
flag = 0
test_tuple1 = test_tuple[:]
test_tuple1.sort()
if (test_tuple1 == test_tuple):
    flag = 1
     
# printing result
if (flag) :
    print ("Yes, tuple is sorted.")
else :
    print ("No, tuple is not sorted.")

Original tuple : [10, 4, 5, 8, 10]
No, tuple is not sorted.

In [383]:
#39. Rotate a tuple to the left by n positions.
#ans:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [384]:
#40. Rotate a tuple to the right by n positions.
#ans:
n=3
tuple_1=(1,2,3,4,5,6)
if n>len(tuple_1):
    n=int(n%len(tuple(tuple_1)))
tuple_1=(tuple_1[-n:]+tuple_1[:-n])
print(tuple_1)

(4, 5, 6, 1, 2, 3)

In [385]:
#41. Create a tuple of the first 5 Fibonacci numbers.
#ans:
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [387]:
#42. Create a tuple from user input.
#ans:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas:  2

User input tuple: ('2',)

In [5]:
#43. Swap two elements in a tuple
#ans:
test_tuple = ((3, 4), (6, 5), (7, 8))
 
# printing original list
print("The original tuple  is : " + str(test_tuple ))
 
# Swap tuple elements in tuple t of tuples
# Using map() + lambda
res = tuple (map(lambda sub: (sub[1], sub[0]), test_tuple ))
         
# printing result
print("The swapped tuple is : " + str(res))

The original tuple  is : ((3, 4), (6, 5), (7, 8))
The swapped tuple is : ((4, 3), (5, 6), (8, 7))

In [390]:
#44. Reverse the elements of a tuple
#ans:
t=(1,2,3,4,5,6)
t[::-1] #reversing the element of a tuple

(6, 5, 4, 3, 2, 1)

In [391]:
#45. Create a tuple of the first n powers of 2.
#ans:
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [6]:
#46. Find the longest string in a tuple of strings.
#ans:
# initialize tuple
test_tuple = ['gfg', 'is', 'best', 'for', 'geeks','alipeer']
 
# printing original tuple
print("The original tuple : " + str(test_tuple))
 
# Longest String in tuple
# using max() + key
res = max(test_tuple, key = len)
 
# printing result
print("Maximum length tuple is : " + res)

The original tuple : ['gfg', 'is', 'best', 'for', 'geeks', 'alipeer']
Maximum length tuple is : alipeer

In [395]:
#47. Find the shortest string in a tuple of strings.
#ans:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [396]:
#49. Check if a tuple contains another tuple as a subsequence.
#ans:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [397]:
#50. Create a tuple of alternating 1s and 0s of length n.
#ans:
n=15
alter_tuple=tuple(i%2 for i in range(n))
print("tuple of alter 1s and 0s:",alter_tuple)

tuple of alter 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [398]:
###Set based problems:

In [399]:
#1. Create a set with integers from 1 to 5
#ans:
s=set(range(1,6)) #set with integers from 1 to 5
s

{1, 2, 3, 4, 5}

In [400]:
#2. Add an element to a set
#ans:
s={1,2,3,4,5}
s.add(6) # adding an element to the set
s

{1, 2, 3, 4, 5, 6}

In [401]:
#3. Remove an element from a set.
#ans:
s={1, 2, 3, 4, 5, 6}
s.remove(6) # removing the element '6'
s

{1, 2, 3, 4, 5}

In [405]:
#4. Check if an element exists in a set.
#ans:
s={1, 2, 3, 4, 5, 6}
check_element = int(input("Enter the element to check: "))
if check_element in s :
        print("the element exists")
else:
        print("the element doesn't exist")

Enter the element to check:  5

the element exists

In [406]:
#5. Find the length of a set without using the len() function
#ans:
s={1, 2, 3, 4, 5, 6}
count=0
for i in s:
    count+=1
print("length of the set",count)

length of the set 6

In [407]:
#6. Clear all elements from a set.
#ans:
s={1, 2, 3, 4, 5, 6}
print('original set  :' ,s)
s.clear()
print('after clearing set  :',s)

original set  : {1, 2, 3, 4, 5, 6}
after clearing set  : set()

In [408]:
#7. Create a set of even numbers from 1 to 10
#ans:
s=set(range(2,11,2))
s

{2, 4, 6, 8, 10}

In [409]:
even_set=set()
for num in range(1,11):
    if num%2==0:
        even_set.add(num)
print(even_set)

{2, 4, 6, 8, 10}

In [410]:
#8. Create a set of odd numbers from 1 to 10
#ans:
s=set(range(1,11,2))
s

{1, 3, 5, 7, 9}

In [411]:
odd_set=set()
for num in range(1,11):
    if num % 2!=0:
        odd_set.add(num)
print(odd_set)

{1, 3, 5, 7, 9}

In [412]:
#9. Find the union of two sets
#ans:
set1={1,2,3}
set2={2,3,4}
union_result=set1.union(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3}
Set 2: {2, 3, 4}
Union of Set 1 and Set 2: {1, 2, 3, 4}

In [413]:
#10. Find the intersection of two sets
#ans:
set1={1,2,3}
set2={2,3,4}
intersection_result=set1.intersection(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("intersection of Set 1 and Set 2:", intersection_result)

Set 1: {1, 2, 3}
Set 2: {2, 3, 4}
intersection of Set 1 and Set 2: {2, 3}

In [414]:
#11. Find the difference between two sets
#ans:
set1={1,2,3,4}
set2={3,4,5,6}
difference_result=set1.difference(set2)
print("Set 1:", set1)
print("Set 2:", set2)
print("difference of Set 1 and Set 2:", difference_result)

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}
difference of Set 1 and Set 2: {1, 2}

In [415]:
# 12. Check if a set is a subset of another set.
#ans:
set1={1,2,3,4,5}
sub_set={2,3}
is_subset=sub_set.issubset(set1)
print(is_subset)

True

In [416]:
#13. Check if a set is a superset of another set.
#ans:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [417]:
#14. Create a set from a list
#ans:
list1=[1,2,3,4,5,6]
k=set(list1)
print("Original List:", list1)
print("Set from List:",k)

Original List: [1, 2, 3, 4, 5, 6]
Set from List: {1, 2, 3, 4, 5, 6}

In [418]:
#15. Convert a set to a list.
#ans:
Set1={1, 2, 3, 4, 5, 6}
k=list(set1)
print("Original set:", set1)
print("Converted List:",k)

Original set: {1, 2, 3, 4, 5, 6}
Converted List: [1, 2, 3, 4, 5, 6]

In [419]:
#16. Remove a random element from a set
#ans:
Set1={1, 2, 3, 4, 5, 6}
print("Original set:", set1)
import random
random_element = random.choice(list(set1))
set1.remove(random_element)
print("updated set after removing",random_element,":",set1)

Original set: {1, 2, 3, 4, 5, 6}
updated set after removing 3 : {1, 2, 4, 5, 6}

In [420]:
#17. Pop an element from a set.
#ans:
set1={1, 2, 3, 4, 5, }
k=set1.pop()
print(" poping element :",k)
print("Set after popping:", set1)

 poping element : 1
Set after popping: {2, 3, 4, 5}

In [421]:
#18. Check if two sets have no elements in common.
#ans:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [422]:
#19. Find the symmetric difference between two sets.
#ans:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 6, 7, 8, 9}
symmetric_difference=set1^set2
print("symmetric difference:",symmetric_difference)

symmetric difference: {1, 2, 3, 4, 6, 7, 8, 9}

In [423]:
#20. Update a set with elements from another set.
#ans:
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [424]:
#21. Create a set of the first 5 prime numbers
#ans:
#function to check if a given number is prime
def isPrime(n):
  #since 0 and 1 is not prime return false.
  if(n==1 or n==0):
    return False
   
  #Run a loop from 2 to n-1
  for i in range(2,n):
    #if the number is divisible by i, then n is not a prime number.
    if(n%i==0):
      return False
   
  #otherwise, n is prime number.
  return True
 
 
 
# Driver code
N = 11;
#check for every number from 1 to N
for i in range(1,N+1):
  #check if current number is prime
  if(isPrime(i)):
    print(i,end=" ")

2 3 5 7 11

In [425]:
#22. Check if two sets are identical.
#ans:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 5, 4, 3}
if set1==set2:
    print("the sets are identical")
else:
    print("the sets are not identical")

the sets are identical

In [426]:
# 23. Create a frozen set
#ans:
elements = {1, 2, 3, 4, 5}
my_frozen_set=frozenset(elements)
print("frozen set:",my_frozen_set)

frozen set: frozenset({1, 2, 3, 4, 5})

In [427]:
#24. Check if a set is disjoint with another set.
#ans:
set1 ={1,2,3,4}
set2 = {5,6,7,8}
disjoint_set=set1.isdisjoint(set2)
print("are the disjoint_set ?:",disjoint_set)

are the disjoint_set ?: True

In [428]:
#25. Create a set of squares of numbers from 1 to 5
#ans:
squares_set=set()
for num in range(1,6):
    square=num**2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [429]:
#26. Filter out all even numbers from a set.
#ans:
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [430]:
#27. Multiply all elements in a set by 2.
#ans:
set1={1,2,3,4,5,6}
multiplied_set=set()
for num in set1:
    multiplied_num=num*2
    multiplied_set.add(multiplied_num)
print("original set:",set1)
print("multied set:",multiplied_set)

original set: {1, 2, 3, 4, 5, 6}
multied set: {2, 4, 6, 8, 10, 12}

In [431]:
#28. Create a set of random numbers.
#ans:
import random
random_numbers=5
random_number_set=set()
for i in range(random_numbers):
    random_num=random.randint(1,100)
    random_number_set.add(random_num)
print("generate set of random numbers:",random_number_set)

generate set of random numbers: {15, 16, 48, 86, 90}

In [432]:
#29. Check if a set is empty.
#ans:
set1={}
if not set1:
    print("the set is empty")
else:
    print("the set is not empty:")

the set is empty

In [433]:
#30. Create a nested set 
#ans:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [434]:
#31. Remove an element from a set using the discard method.
#ans:
set1={1,2,3,4}
print("original set:",set1)
l=set1.discard(2) # discarding element 2
print("after discarding set:",set1)

original set: {1, 2, 3, 4}
after discarding set: {1, 3, 4}

In [435]:
#32. Compare two sets
#ans:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
is_subset=set1.issubset(set2)
is_superset=set1.issuperset(set2)
intersection=set1.intersection(set2)
union=set1.union(set2)
difference1=set1.difference(set2)
difference2=set2.difference(set1)
print("set 1:",set1)
print("set 2:",set2)
print("is set1 a subset of set2",is_subset)
print("is superset",is_superset)
print("intersection:",intersection)
print("union:",union)
print("elements in set1 but not set2:",difference1)
print("elements in set2 but not set1:",difference2)

set 1: {1, 2, 3, 4, 5}
set 2: {6, 7, 8, 9, 10}
is set1 a subset of set2 False
is superset False
intersection: set()
union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
elements in set1 but not set2: {1, 2, 3, 4, 5}
elements in set2 but not set1: {6, 7, 8, 9, 10}

In [436]:
#33. Create a set from a string.
#ans:
string="alipeer"
set(string)

{'a', 'e', 'i', 'l', 'p', 'r'}

In [437]:
#34. Convert a set of strings to a set of integers
#ans:
string_set={"786","456","896"}
integer_set=set()
for string in string_set:
    integer_value=int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'786', '896', '456'}
Converted Integer Set: {896, 786, 456}

In [12]:
#35. Convert a set of integers to a set of strings.
#ans:
integer_list = [10, 20, 30, 40, 50]

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# Print the list of strings
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [ ]:
#36. Create a set from a tuple.
#ans:
tuple1=(1,2,3,5,4,6,8)
set(tuple1)

In [439]:
#37. Convert a set to a tuple.
#ans:
set1={1, 2, 3, 4, 5, 6, 8}
tuple(set1)

(1, 2, 3, 4, 5, 6, 8)

In [440]:
#38. Find the maximum value in a set.
#ans:
set1={1, 2, 3, 4, 5, 6, 8}
max(set1)

8

In [441]:
#39. Find the minimum value in a set.
#ans:
set1={1, 2, 3, 4, 5, 6, 8}
min(set1)

1

In [442]:
#40. Create a set from user input.
#ans:
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  1
>  5
>  pwskills
>  done

Final set: {'pwskills', '5', '1'}

In [446]:
#41. Check if the intersection of two sets is empty.
#ans:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection_result=set1.intersection(set2)
if not intersection_result:
    print("the intersection of the two sets is empty.:")
else:
    print("the intersection of the two sets is not empty.")

the intersection of the two sets is not empty.

In [447]:
#42. Create a set of the first 5 Fibonacci numbers.
#ans:
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [448]:
#43. Remove duplicates from a list using sets.
#ans:
list1=[1,2,3,4,5,6,7,8,9,1,2,5,9,6,8,7,5]
print("original list",list1)
unique_list=set(list1)
l=list(unique_list)
print("after removing duplicates using set",l)

original list [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 5, 9, 6, 8, 7, 5]
after removing duplicates using set [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [449]:
#44. Check if two sets have the same elements, regardless of their count.
#ans:
#convert the sets to list and sort them
def have_same_elements(set1,set2):
    sorted_list1=sorted(list(set1))
    sorted_list2=sorted(list(set2))
    return sorted_list1==sorted_list2
set1={1,2,3,2,3}
set2={1,2,3}
result=have_same_elements(set1,set2)
if result:
    print("the sets have the same elements")
else:
    print("the sets do not have same elements")

the sets have the same elements

In [450]:
#45. Create a set of the first n powers of 2
#ans:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [451]:
#46. Find the common elements between a set and a list.
#ans:
set1={1,2,3,4,5,6}
list1=[1,2,3,4,5,6,7,8,9]
list_to_set=set(list1)
common_elements = []
for element in set1:
    if element in list_to_set:
        common_elements.append(element)
print("common elements:",common_elements)

common elements: [1, 2, 3, 4, 5, 6]

In [452]:
#47. Create a set of the first n triangular numbers.
#ans:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [206]:
#48. Check if a set contains another set as a subset.
#ans:
set1={1,2,3,45,5,4}
set2={2,3,4}
is_subset=set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [13]:
#49. Create a set of alternating 1s and 0s of length n.
#ans:
import itertools
 
# count of 1
count_1 = 4
 
# count of 0
count_0 = 3
 
# total length of set
size =10
 
# getting pattern
pattern = [1] * count_1 + [0] * count_0
 
# initializing set cyclically
# using itertools.cycle() + itertools.islice()
test_set = set(itertools.islice(itertools.cycle(pattern), size))
 
# printing  set after change
print("The  set after initializing : " + str(test_set))

The  set after initializing : {0, 1}

In [457]:
#50. Merge multiple sets into one.
#ans:
set1={1,2,3,4}
set2={2,3,4,5}
set3={3,4,5,6}
set4={4,5,6,7}
merged_set=set1.union(set2,set3,set4)
print("merged set:",merged_set)

merged set: {1, 2, 3, 4, 5, 6, 7}